<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Internet permite que las herramientas de perfilado de Flutter se
         comuniquen con la aplicación. Este archivo no configura la versión release.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
